<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<!-- Custom styles for this template -->
	<title>로그인</title>
	<link type="text/css" href="/css/signin.css" rel="stylesheet">
</head>

<body class="text-center">
	<main class="form-signin">
		<form th:action="@{/login}" method="post">
			<a href="/"><img class="mb-2"
					src="https://cdn-icons.flaticon.com/png/512/2604/premium/2604013.png?token=exp=1639622665~hmac=34100795639e38fce307d0d3588611a6"
					alt="" width="120" height="100"></a>
			<h1 class="h3 mb-3 fw-normal">Login</h1>

			<div class="form-floating mt-4">
				<input type="text" class="form-control" name="username" id="floatingInput" placeholder="Username">
				<label for="floatingInput">Username</label>
			</div>
			<div class="form-floating">
				<input type="password" class="form-control mt-2" name="password" id="floatingPassword"
					placeholder="Password">
				<label for="floatingPassword">Password</label>
			</div>
			<div th:if="${param.error}">
				<p class="alert alert-danger">정보가 일치하지 않습니다.</p>
			</div>

			<!-- <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div> -->
			<button class="w-100 btn btn-lg btn-primary mt-2" type="submit">로그인</button>
			<a class="w-100 btn btn-lg btn-primary mt-2" th:href="@{/findIdForm}">계정 찾기</a>
			<a th:href="@{/register/joinForm}" class="mt-2 w-100 btn btn-lg btn-primary">회원가입</a>
			<p class="mt-3 mb-3 text-muted">&copy; 2017–2021</p>
		</form>
	</main>
</body>

</html>