<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- Custom styles for this template -->
  <title>Password 찾기</title>
  <link type="text/css" href="/css/signin.css" rel="stylesheet">
</head>

<body class="text-center">
  <main class="form-signin">
    <form th:action="@{/resetPassword}" method="post">
      <a href="/"><img class="mb-2"
          src="https://cdn-icons.flaticon.com/png/512/2604/premium/2604013.png?token=exp=1639622665~hmac=34100795639e38fce307d0d3588611a6"
          alt="" width="120" height="100"></a>
      <h1 class="h3 mb-3 fw-normal">Password 찾기</h1>
      
      <div class="checkbox mb-2">
      </div>

      <div th:if="${param.email == null}">
        <div class="form-floating">
          <input type="text" class="form-control mt-2" name="username" id="floatingEmail" placeholder="Username">
          <label for="floatingEmail">Username을 입력해주세요.</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control mt-2" name="email" id="floatingEmail" placeholder="Email">
          <label for="floatingEmail">Email을 입력해주세요.</label>
        </div>
        <div class="mt-2" th:if="${param.error}">
          <p class="alert alert-danger">Username 또는 Email을 정확히 입력해주세요.</p>
        </div>
        <button class="w-100 btn btn-lg btn-primary mt-2" type="submit">찾기</button>
      </div>

      <div th:if="${param.email != null}">
        <p><span th:text=${email}></span> 로 새로운 임시 비밀번호를 보내드렸습니다.<br/></p> 
        <p>로그인 후에는 비밀번호를 변경해주세요.</p>
      </div>
      
      <a class="w-100 btn btn-lg btn-primary mt-2" th:href="@{/loginForm}" type="submit">login</a>
      <a type="button" class="w-100 btn btn-lg btn-primary mt-2" th:href="@{/}">Exit</a>
      
    </form>
    <p class="mt-3 mb-3 text-muted">&copy; 2017–2021</p>
  </main>
</body>

</html>