<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>회원가입</title>
</head>

<body>
  <h1>회원가입</h1>
  <form th:action="@{/member/join}" th:object="${memberForm}" method="post">
    username : <input type="text" name="username" th:field="*{userName}"> <br />
    userid : <input type="text" name="userid" th:field="*{userId}"> <br />
    password : <input type="password" name="password" th:field="*{password}"> <br />
    <button type="submit">등록</button>
  </form>
</body>

</html>