<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.min.board.repository.mapper.BoardMapper">

    <sql id="boardColumns">
        id
        ,title
        ,content
        ,writer_id
        ,writer
        ,delete_yn
        ,create_date
        ,views
        ,image
    </sql>

    <!--(페이징) 게시글 모두 조회-->
    <select id="selectBoardList" resultType="Board">
        SELECT
            <include refid="boardColumns"/>
        FROM
            tb_board
        WHERE
            <if test="'list'.equals(type)">
                <include refid="CommonMapper.search"/>
            </if>
            <if test="'myPost'.equals(type)">
                <include refid="CommonMapper.myPost"></include>
            </if>
            <if test="'trash'.equals(type)">
                <include refid="CommonMapper.trash"></include>
            </if>
        ORDER BY
            id DESC,
            create_date
        <include refid="CommonMapper.paging"/>
    </select>

    <!--(페이징을 위한 카운트) 게시글 개수 카운트-->
    <select id="selectBoardTotalCount" resultType="int">
        SELECT
            COUNT(*)
        FROM
            tb_board
        WHERE
            <if test="'list'.equals(type)">
                <include refid="CommonMapper.search"/>
            </if>
            <if test="'myPost'.equals(type)">
                <include refid="CommonMapper.myPost"></include>
            </if>
            <if test="'trash'.equals(type)">
                <include refid="CommonMapper.trash"></include>
            </if>
    </select>

    <!--모든 게시글 조회-->
    <select id="selectAllBoards" resultType="Board">
        SELECT
            <include refid="boardColumns"/>
        FROM
            tb_board
    </select>

    <!--게시글 작성-->
    <insert id="insertBoard" parameterType="Board">
        INSERT INTO
            tb_board (title, content, writer_id, writer, create_date)
        VALUES
            (#{title}, #{content}, #{writerId}, #{writer}, #{createDate})
    </insert>

    <!--게시글 업데이트-->
    <update id="updateBoard" parameterType="Board">
        UPDATE
            tb_board
        SET
            title = #{title}
            ,content = #{content}
        WHERE
            id = #{id}
    </update>

    <!--게시글 조회수 업데이트-->
    <update id="updateViews">
        UPDATE
            tb_board
        SET
            views = views + 1
        WHERE
            id = #{id}
    </update>

    <!--특정 아이디 게시글 조회-->
    <select id="findById" resultType="Board">
        SELECT
            <include refid="boardColumns"/>
        FROM
            tb_board
        WHERE
            id = #{id}
    </select>

    <!--임시 삭제 게시글 조회-->
    <update id="temporaryDeleteById" parameterType="Long">
        UPDATE
            tb_board
        SET
            delete_yn = 'Y'
        WHERE
            id = #{id}
    </update>

    <!--휴지통에서 삭제-->
    <delete id="permanentlyDeleteById">
        DELETE FROM
            tb_board
        WHERE
            id = #{id}
    </delete>
</mapper>