<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.min.board.repository.BoardMapper">

    <sql id="boardColumns">
        id
        ,title
        ,content
        ,writer_id
        ,writer
        ,delete_yn
        ,create_date
        ,image
    </sql>


    <select id="selectBoardById" resultType="Board">
        SELECT
            <include refid="boardColumns"/>
        FROM
            tb_board
        WHERE
            id = #{id}
    </select>

    <!--(페이징) 삭제된 글 제외 모두 조회-->
    <select id="selectBoardList" resultType="Board">
        SELECT
            <include refid="boardColumns"/>
        FROM
            tb_board
        WHERE
            delete_yn = 'N'
        ORDER BY
            id DESC,
            create_date
        LIMIT
            #{startList}, #{listSize}
    </select>

    <!--(페이징을 위한 카운트) 게시글 갯수 카운트-->
    <select id="selectBoardTotalCount" resultType="int">
        SELECT
            COUNT(*)
        FROM
            tb_board
        WHERE
            delete_yn = 'N'
    </select>
    
    <!--모든 게시글 조회-->
    <select id="selectAllBoards" resultType="Board">
        SELECT
            <include refid="boardColumns"/>
        FROM
            tb_board
    </select>

    <!--게시글 작성-->
    <insert id="insertBoard" parameterType="Board">
        INSERT INTO
            tb_board (title, content, writer_id, writer, create_date)
        VALUES
            (#{title}, #{content}, #{writerId}, #{writer}, #{createDate})
    </insert>

    <!--게시글 업데이트-->
    <update id="updateBoard" parameterType="Board">
        UPDATE
            tb_board
        SET
            title = #{title}
            ,content = #{content}
        WHERE
            id = #{id}
    </update>

    <!--특정 아이디 게시글 조회-->
    <select id="findById" resultType="Board">
        SELECT
            <include refid="boardColumns"/>
        FROM
            tb_board
        WHERE
            id = #{id}
    </select>

    <!--임시 삭제 게시글 조회-->
    <update id="temporaryDeleteById" parameterType="Long">
        UPDATE
            tb_board
        SET
            delete_yn = 'Y'
        WHERE
            id = #{id}
    </update>
</mapper>